@font-face {
  font-family: "iconfont"; /* Project id 3335456 */
  src: url('iconfont.woff2?t=1656658604654') format('woff2'),
       url('iconfont.woff?t=1656658604654') format('woff'),
       url('iconfont.ttf?t=1656658604654') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e603";
}

.icon-shanchu:before {
  content: "\e658";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-tianjia:before {
  content: "\e609";
}

.icon-zhongzhi:before {
  content: "\e62e";
}

.icon-zhuti:before {
  content: "\e7aa";
}

.icon-zhuti1:before {
  content: "\e65c";
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-yejianmoshi:before {
  content: "\e6c1";
}

.icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-qingtianbaitian:before {
  content: "\e606";
}

.icon-dark:before {
  content: "\e72f";
}

.icon-zhengque:before {
  content: "\e628";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e7b4";
}

.icon-ziliao:before {
  content: "\e630";
}

.icon-touxiang:before {
  content: "\e6de";
}

.icon-tuichu1:before {
  content: "\e66b";
}

.icon-cuowu:before {
  content: "\e6c2";
}

.icon-tiaoseban:before {
  content: "\e612";
}

.icon-quanping:before {
  content: "\e664";
}

.icon-tuichuquanping:before {
  content: "\e66f";
}

.icon-bright1:before {
  content: "\e685";
}

.icon-moon_fill:before {
  content: "\e746";
}

.icon-iconfonticon-xitong:before {
  content: "\e641";
}

.icon-a-83-dayin:before {
  content: "\e8d6";
}

.icon-cebianlanzhankai:before {
  content: "\e619";
}

.icon-cebianlanshouqi:before {
  content: "\e61a";
}

.icon-fenxi:before {
  content: "\e668";
}

.icon-fuwenbenbianjiqi_biaoge:before {
  content: "\e655";
}

.icon-igw-l-dashboard-rectangle-add:before {
  content: "\e665";
}

.icon-home:before {
  content: "\e621";
}

.icon-tongjifenxi:before {
  content: "\e632";
}

.icon-igw-l-dashboard-add:before {
  content: "\e667";
}

