.v-flex {
  display: flex;
  align-items: center;
}
.v-flex-center {
  justify-content: center;
}
.v-flex-bet {
  justify-content: space-between;
}
.v-flex-a-statr {
  align-items: flex-start;
}
.text-height {
  line-height: 1;
}
.container {
  background-color: var(--n-color);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0/0.05);
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s var(--cubic-bezier-ease-in-out);
}
